@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?4438952');
    src: url('../fonts/fontello/fontello.eot?4438952#iefix') format('embedded-opentype'),
            url('../fonts/fontello/fontello.woff2?4438952') format('woff2'),
            url('../fonts/fontello/fontello.woff?4438952') format('woff'),
            url('../fonts/fontello/fontello.ttf?4438952') format('truetype'),
            url('../fonts/fontello/fontello.svg?4438952#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}